
<!-- checking blog -->
{% if  section == "post" or  section == "blog" or section == "category" or  section == "tag" %}

<section class="section-sm">
  <div class="container">
    <div class="row no-gutters justify-content-center">
      <div class="col-lg-10">
        <div class="row">
          {% for document in documents %}
          <div class="col-lg-6">
            {% render "post", document: document, site: site %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

{% else %}

{% render "partial/page-header.html", document: document, site: site %}
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="content">
          {{ document.content }}
        </div >
      </div>
    </div>
  </div>
</section>

{% endif %}

