<div class="docs-navigation d-flex justify-content-between">
	{% if paginate.previous.is_link %}
	<a href="{{ paginate.previous.url }}">
		<div class="card my-1">
			<div class="card-body py-2">
				&larr; {{ paginate.previous.title }}
			</div>
		</div>
	</a>
	{% endif -%}
  {% if paginate.next.is_link %}
	<a href="{{ paginate.next.url }}" class="ms-auto">
		<div class="card my-1">
			<div class="card-body py-2">
				{{ paginate.next.title }} &rarr;
			</div>
		</div>
	</a>
	{% endif -%}
</div>
