
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10 col-xl-8">
    <article>
      <h1 class="text-center">{{ page.title }}</h1>
      <div class="text-center">{{ page.content }}</div>
      {% assign documents = site.documents | where: "type", "blog" -%}
      {% paginate documents by 5 -%}
			<div class="card-list">
        {% for item in paginate.entries %}
					<div class="card">
						<div class="card-body">
							<h2 class="h3"><a class="stretched-link text-body" href="{{ item.url }}">{{ item.title }}</a></h2>
							<p>{{ item.params.lead | safeHTML }}</p>
							{% render "partials/main/blog-meta.html", page: item -%}
						</div>
					</div>
          {% endfor %}
			</div>

	    {% render "partials/paginate.html", paginate: paginate %}
      {% endpaginate -%}
    </article>
  </div>
</div>
