<!-- checking blog -->
{% if  page.section == "blog" or page.section == "categories" or  page.section == "tags" %}

{% if  page.section == "blog" %}
{% assign pages = site.documents | where: "type", page.type %}
{% elsif page.section == "categories" %}
{% assign pages = site.documents | where_in: "categories", page.title %}
{% else %}
{% assign pages = site.documents | where_in: "tags", page.title %}
{% endif %}

<section class="section-sm">
  <div class="container">
    <div class="row no-gutters justify-content-center">
      <div class="col-lg-10">
        <div class="row">
          {% for page in pages %}
          <div class="col-lg-6">
            {% render "post", page: page, site: site %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

{% else %}

{% render "partials/page-header.html", document: document, site: site %}
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="content">
          {{ document.content }}
        </div >
      </div>
    </div>
  </div>
</section>

{% endif %}

