<article class="card post-card">
  {% if page.image %}
  <a href="{{ item.url }}">
    <img
      loading="lazy"
      class="w-100 rounded"
      src="{{ page.image | abs_url}}"
      alt="{{ page.title }}"
    />
  </a>
  {% endif %}

  <div class="card-body">
    <ul class="card-meta list-inline mb-2">
      <li class="list-inline-item mb-2">
        {% assign author =  site.documents | find: title: page.author, type: "author"        %}
        <a href="{{author.url}}" class="card-meta-author">
          {% if author.image %}
          <img
            loading="lazy"
            src="{{author.image | abs_url}}"
            alt="{{author.title}}"
          />
          {% else %}
          <img
            loading="lazy"
            src="https://www.gravatar.com/avatar/{{ author.email}}?s=150&pg&d=identicon"
          />
          {% endif %}
          <span>{{ author.title }}</span>
        </a>
      </li>
      <li class="list-inline-item mb-2">
        <span>{{ page.date }}</span>
      </li>
    </ul>
    <h3 class="mb-3">
      <a class="post-title" href="{{page.url}}">{{page.title}}</a>
    </h3>
    <p>{{ page.plain | default: "" | slice: 0, 150 | append: "..." }}</p>
    <ul class="card-meta list-inline">
      <li class="list-inline-item mb-2">
        <ul class="card-meta-tag list-inline">
          {% for item in page.tags %}
          <li class="list-inline-item tag">
            <a href="{{ item | prepend: '/tags/' | abs_url }}">{{ item }}</a>
          </li>
          {% endfor %}
        </ul>
      </li>
    </ul>

    <!-- <a href="{{ page.url}}" aria-label="More on {{page.title}}">Read More <i data-eva="arrow-right-outline"></i></a> -->
  </div>
</article>
