<section class="section-sm">
  <div class="container">
    <div class="row justify-content-center">
      {% if page.image %}
      <div class="col-lg-10 mb-5 text-center">
        <img
          loading="lazy"
          class="img-fluid rounded"
          src="{{ page.image | rel_url}}"
          alt=""
        />
      </div>
      {% endif %}

      <div class="col-lg-8 text-center">
        {% if page.params.caption.enable %}
        <h2 class="text-dark font-weight-700">{{page.params.caption.title | markdownify}}</h2>
        {% endif %}

        {% if page.params.social.enable %}
        <ul class="social-links list-unstyled list-inline mt-4">
          {% for item in page.params.social.social_links %}
          <li class="list-inline-item">
            <a href="{{item.link}}">
              <i data-eva="{{item.icon}}"></i>
            </a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}

        <div class="content mt-3">{{page.content}}</div>
      </div>
    </div>

    {% if page.params.what_i_do.enable %}
    {% with page.params.what_i_do %}
    <div class="section-sm pb-0">      
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <h3 class="text-dark font-weight-700 mb-5">{{ title }}</h3>
        </div>
        {% for intro in  item %}
        <div class="col-lg-4 col-md-6 mt-4 text-center">
          <i data-eva="{{intro.icon}}" class="text-primary mb-4"></i>
          <h4 class="text-dark font-weight-700 mb-3">{{ intro.title }}</h4>
          <p>{{ intro.description }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endwith %}
    {% endif %}
  </div>
</section>

