<!DOCTYPE html>
<html lang="{{ site.language_code | default: "en-US" }}">
  {% render "partials/head.html", site: site %}

  <body>
    <div style="min-height: calc(100vh - 65px)">
      {% render "partials/header.html", site: site %}

      {% if section != "index" and section != "blog" and section != "about"  and section != "search" %}
      {% render "partials/page-header.html", site: site, section: section, document: document, term: term, current_path: current_path, current_url: current_url %}
      {% endif %}

      {{ inner_content }}
    </div>
    {% render "partials/footer.html", site: site %}
    {% render "partials/script.html", site: site %}
  </body>
</html>
