<!-- checking blog -->
{% if page.section == "blog" or page.section == "categories" or page.section ==
"tags" %}


<section class="section-sm">
  <div class="container">
    <div class="row justify-content-center">
      <div
        class="{% if site.params.sidebar %} col-lg-9 {% else %} col-lg-10 {% endif %}"
      >
        <div class="pr-lg-4">
          <div class="single-post">
            <div class="text-center mb-5">
              <h1 class="mb-4 post-title">{{page.title}}</h1>
              <ul class="card-meta list-inline">
                <li class="list-inline-item">
                  <a href="#!" class="card-meta-author">
                    {%- assign author = page.author | urlize | lower | get_page: "author" -%}
                    <a href="{{author.url}}" class="card-meta-author">
                      <img
                        loading="lazy"
                        src="{{ author.image | abs_url }}"
                        alt="{{ author.title }}"
                      />
                      <span>{{author.title}}</span>
                    </a>
                  </a>
                </li>
                <li class="list-inline-item">|</li>
                <li class="list-inline-item">
                  <span>{{page.date}}</span>
                </li>
              </ul>
            </div>

            {% if page.image %}
            <div class="mb-5 text-center">
              <img
                loading="lazy"
                class="img-fluid rounded"
                src="{{ page.image | abs_url}}"
                alt="Image not Found"
              />
            </div>
            {% endif %}

            <div class="content">{{page.content}}</div>
          </div>

          <!-- Post meta -->
          <div class="single-post-meta">
            <div class="row justify-content-center">
              <div class="col-md-6 text-center text-md-left">
                <ul class="post-meta-tags list-unstyled list-inline">
                  {% for tag in page.tags %}
                  <li class="list-inline-item">
                    <a href="{{ tag | urlize | lower | prepend: '/tags' | abs_url}}">#{{tag}}</a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
              <div class="col-md-6 text-center text-md-right mt-4 mt-md-0">
                {%- render "partials/post-share.html", site: site, page: page -%}
              </div>
            </div>
          </div>

          <div class="single-post-author">
            <div class="row justify-content-center">
              <div class="col-md-12">
                <div class="media d-block d-sm-flex text-center text-sm-left">
                   {%- assign author = page.author | urlize | lower | get_page: "author" -%}

                  {% if author %}
                  <a href="{{author.url}}"
                    ><img
                      loading="lazy"
                      class="img-fluid rounded-circle mr-0 mr-sm-4 mb-4"
                      src="{{author.image | abs_url}}"
                      alt="{{ author.title }}"
                  /></a>
                  <div class="media-body">
                    <h4>
                      <a href="{{author.url}}" class="text-dark font-weight-700"
                        >{{author.title}}</a
                      >
                    </h4>
                    <p class="font-primary">{{ author.content}}</p>
                    <ul
                      class="social-links list-unstyled list-inline ml-0 ml-sm-n2"
                    >
                      {% for item in author.params.social %}
                      <li class="list-inline-item">
                        <a href="{{item.link}}">
                          <i class="lab {{item.icon}}"></i>
                        </a>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>

          <!-- DISQUS comment -->
          {% if site.disqus_shortname %}
          <div class="single-post-similer">
            <div class="row justify-content-center">
              <div class="col-md-12">
                <div class="row mt-3">
                  <div id="disqus_thread" class="w-100"></div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}

          <div class="single-post-similer">
            <div class="row justify-content-center">
              <div class="col-md-12">
                <div class="row mt-3">
                  <div class="col-12">
                    <h3 class="text-dark font-weight-800 mb-4 pb-2">
                      You May Also Like
                    </h3>
                  </div>
                  {% comment %}
                  {{ $related := (where site.RegularPages "Section" "blog") |
                  intersect (where site.Pages ".Title" "!=" .Title) | union
                  (site.RegularPages.Related . ) }} {{ range first 2 $related }}
                  <div class="col-md-6">{{ .Render "post" }}</div>
                  {{ end }}
                  {% endcomment %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% if site.params.sidebar %}
      <aside class="col-md-3 mt-5 mt-lg-0">
        {%- render "partials/sidebar.html", site: site -%}
      </aside>
      {% endif %}
    </div>
  </div>
</section>

{% else %}

<section class="section-sm">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="content">{{page.content}}</div>
      </div>
    </div>
  </div>
</section>
{% endif %}
