{% if site.params.options.collapsibleSidebar -%}
<ul class="list-unstyled collapsible-sidebar">

  {% for item in site.menus.docs -%}
  {%- assign active = item | is_current_menu: page or item | has_child_menu: page -%}

    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#section-{{ item.identifier }}" aria-expanded="{% if active %}true{% else %}false{% endif %}">
        {{ item.name }}
      </button>
      {% if item.has_children -%}
      <div class="collapse{% if active %} show{% endif %}" id="section-{{ item.identifier }}">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          {% for subitem in item.children -%}
          {%- assign active = subitem | is_current_menu: page or subitem | has_child_menu: page -%}
          <li><a class="docs-link rounded{% if active %} active{% endif %}" href="{{ subitem.url }}">{{ subitem.name }}</a></li>
        {% endfor -%}
        </ul>
      </div>
      {% endif -%}
    </li>
  {% endfor -%}
  </ul>
  {% else -%}
  {% for item in site.menus.docs -%}
  <h3 class="h6 text-uppercase">{{ item.name }}</h3>
  {% if item.has_children -%}
  <ul class="list-unstyled">
    {% for subitem in item.children -%}
    {%- assign active = page.path == subitem.url -%}
    <li><a class="docs-link{% if active %} active{% endif %}" href="{{ subitem.url }}">{{ subitem.name }}</a></li>
    {% endfor -%}
  </ul>
  {% endif -%}
  {% endfor -%}
{% endif -%}
