<footer class="section-sm p-0">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-5">
        {% assign subscription = site.params.subscription %} {% if
        subscription.enable %}

        <div class="newsletter-block font-primary">
          <h3 class="h4 mb-4 font-weight-700 text-center">
            {{ subscription.title | markdownify }}
          </h3>
          <form
            class="px-0 px-sm-3 px-md-5"
            action="{{ subscription.mailchimp_form_action }}"
            method="post"
            name="mailchimp_form_name"
            target="_blank"
          >
            <div class="input-group">
              <input
                form="subscription"
                type="text"
                class="form-control"
                placeholder="{{ subscription.input_placeholder }}"
                aria-label="Subscription"
                required
                autocomplete="new-email"
              />
              <div class="input-group-append">
                <button
                  type="submit"
                  name="subscription"
                  class="input-group-text"
                  aria-label="Subscription Button"
                >
                  <i data-eva="paper-plane-outline" class="icon"></i>
                </button>
              </div>
            </div>
            <div style="position: absolute; left: -5000px" aria-hidden="true">
              <input
                type="text"
                name="{{ subscription.mailchimp_form_name }}"
                tabindex="-1"
              />
            </div>
          </form>
        </div>
        {% endif %}
      </div>
      <div class="col-lg-12 text-center mb-3">
        {% comment %}
        <ul class="list-inline footer-menu mb-4">
          {{ range site.Menus.footer }}
          <li class="list-inline-item mx-3">
            <a href="{{.URL | abs_url}}">{{.Name}}</a>
          </li>
          {{ end }}
        </ul>
        {% endcomment %}
        <ul
          class="social-links icon-box list-unstyled list-inline font-weight-500 mb-3"
        >
          {% for item in site.params.social %}
          <li class="list-inline-item text-center">
            <a href="{{item.url}}" aria-label="social-icon">
              <i class="lab {{item.icon}}"></i>
            </a>
          </li>
          {% endfor %}
        </ul>

        <p class="mb-0 font-weight-500 copyright-text content">
          {{ site.params.copyright | markdownify}}
        </p>
      </div>
    </div>
  </div>
</footer>
