<section class="section-sm pb-2 page-header">
  <div class="container">
    <div class="row">
      <div class="col-8 mx-auto text-center">
        {% if  page.section == "tags" or  page.section == "categories" %}
        {% if  page.list_page %}
        <h3 class="mb-3 text-dark font-weight-bold">{% if page.type == "tags" %}Tags{% else %} Categories {% endif %}</h3>
        {% else %}
        <h4 class="mb-3 text-dark font-weight-bold">Showing posts from <mark>{{page.title}}</mark></h4>
        {% endif %}
        {% else %}
        <h3 class="mb-3 text-dark font-weight-bold">{{page.title | markdownify}}</h3>
        {% endif %}


        <ul class="list-inline breadcrumb-menu">
        {% assign path = "/" %}
        <li class="list-inline-item"><a href="{{ "/" | abs_url }}">Home</a></li>
        {% assign parts = current_path | split: "/"  %}
        {% for part in parts %}
        {% assign path = path | append: part %}
        {% if part != "" %}
        <li class="list-inline-item">/ &nbsp; <a href="{{ path | abs_url }}">{{ part | humanize }}</a></li>
        {% assign path =  path | append: "/" %}
        {% endif %}
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
