
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10 col-xl-8">
    <article>
      <h1 class="text-center">{{ page.title }}</h1>
      <div class="text-center">{{ page.content }}</div>
			{% assign documents = site.documents | where: "author", page.title -%}
      {% paginate documents by 5 -%}
			<div class="card-list">
        {% for item in paginate.entries %}
					<div class="card">
						<div class="card-body">
							<h2 class="h3"><a class="stretched-link text-body" href="{{ item.url }}">{{ item.title }}</a></h2>
							<p>{{ item.params.lead | safeHTML }}</p>
							{% render "partials/main/blog-meta.html", page: item -%}
						</div>
					</div>
          {% endfor %}
			</div>

	    <div class="docs-navigation d-flex justify-content-between">
	      {% if paginate.previous.is_link %}
		    <a href="{{ paginate.previous.url }}">
			    <div class="card my-1">
				    <div class="card-body py-2">
					    &larr; {{ paginate.previous.title }}
				    </div>
			    </div>
		    </a>
	      {% endif -%}
        {% if paginate.next.is_link %}
		    <a href="{{ paginate.next.url }}" class="ms-auto">
			    <div class="card my-1">
				    <div class="card-body py-2">
					    {{ paginate.next.title }} &rarr;
				    </div>
			    </div>
		    </a>
	      {% endif -%}
	    </div>
      {% endpaginate -%}
    </article>
  </div>
</div>
