<section class="section-sm">
  <div class="container">
    <div class="row no-gutters justify-content-center">
      <div class="col-lg-10">

           {% assign pages = site.documents | where: "type", "blog" %}
          {% paginate pages by 7 %}

        <div class="row">
          {% for document in paginate.entries %}
          <div
            class="{% if forloop.index0 == 0 %}col-lg-12{% else %}col-lg-6{% endif %}"
          >
            {% render "post", site: site, page: document %}
          </div>
          {% endfor %}
        </div>

        <div class="row">
          <div class="col-12">
            <nav class="mt-4">

              <nav class="mb-md-50">
                <ul class="pagination justify-content-center">
               <!-- Number of links either side of the current page. -->
                  {% assign adjacent_links = 2 %}
                  {% assign max_links = adjacent_links | times: 2 | plus: 1 %}
              <!-- $lower_limit = $adjacent_links + 1 -->
              {% assign lower_limit = adjacent_links | plus: 1 %}
              <!-- $upper_limit = paginate.TotalPages - $adjacent_links -->
              {% assign upper_limit = paginate.total_page | minus: adjacent_links %}
              <!-- If there's more than one page. -->
              {% if paginate.total_page > 1 %}

                  <!-- Previous page. -->
                  {% if paginate.previous.is_link %}
                  <li class="page-item">
                    <a
                      class="page-link rounded"
                      href="{{ paginate.previous.url }}"
                      aria-label="Pagination Arrow"
                    >
                      <i data-eva="chevron-left-outline"></i>
                    </a>
                  </li>
                  {% endif %}

                  <!-- Page numbers. -->
                  {% for part in paginate.parts %}
                  <!-- Advanced page numbers. -->
                  {% if paginate.total_page > max_links %}
                  <!-- Lower limit pages. -->
                  <!-- If the user is on a page which is in the lower limit.  -->
                  {% if  paginate.current_page <= lower_limit %}
                  <!-- If the current loop page is less than max_links. -->
                  {% if part.page <= max_links %}
                  {% assign page_number_flag = true %}
                  {% endif %}
                  <!-- Upper limit pages. -->
                  <!-- If the user is on a page which is in the upper limit. -->
                  {% elsif  paginate.current_page >= upper_limit %}
                  <!-- If the current loop page is greater than total pages minus $max_links -->
                  {% if  part.page > paginate.page_count | minus: max_links %}
                  {% assign page_number_flag = true %}
                  {% endif %}
                  <!-- Middle pages. -->
                  {% else %}
                    {% if part.page > paginate.page | minus: adjacent_links and part.page <= paginate.page | plus: adjacent_links %} {% assign page_number_flag = true %}
                    {% endif %}
                  {% endif %}
                  <!-- Simple page numbers. -->
                    {% else %} {% assign page_number_flag = true %}
                  {% endif %}
                  <!-- Output page numbers. -->
                  {% if  page_number_flag == true %}
                  <li
                    class="page-item{% if paginate.current_page == part.page %} active {% endif %}"
                  >
                    <a href="{{ part.url }}" class="page-link rounded">
                      {{ part.title }}
                    </a>
                  </li>
                  {% endif %}
                  {% endfor %}
                  
                  <!-- Next page. -->
                  {% if paginate.next.is_link %}
                  <li class="page-item">
                    <a
                      class="page-link rounded"
                      href="{{ paginate.next.url }}"
                      aria-label="Pagination Arrow"
                    >
                      <i data-eva="chevron-right-outline"></i>
                    </a>
                  </li>
                  {% endif %}
                </ul>
              </nav>
              {% endif %}
            </nav>
          </div>
        </div>

          {% endpaginate %}
      </div>
    </div>
  </div>
</section>
