<!doctype html>
<html lang="{{ site.language | default: "en" }}">
  {% render "partials/head/head.html", site: site  %}

  {% if section == "index" -%}
    {% assign class = "home" -%}
  {% elsif section == "404" -%}
    {% assign class = "error404" -%}
  {% elsif type == "page" -%}
    {% assign class = type -%}
    {% assign class = class | append: " single" -%}
  {% else -%}
    {% assign class = type -%}
    {% assign class = class | append: " list" -%}
  {% endif -%}

  <body class="{{ class }}">
     {% render "partials/header/header.html", site: site %}
    <div class="wrap container-xxl" role="document">
      <div class="content">
        {{ inner_content }}
      </div>
    </div>
    {% render "partials/footer/footer.html", site: site %}
    {% render "partials/footer/script-footer.html", site: site %}
  </body>
</html>
