<section class="section-sm pb-2 page-header">
  <div class="container">
    <div class="row">
      <div class="col-8 mx-auto text-center">
        {% assign document = document or term %}

        {% if  section == "tags" or  section == "categories" %}
        {% if  document.url == 'tags/' | abs_url or document.url == 'categories/' | abs_url %}
        <h3 class="mb-3 text-dark font-weight-bold">{{document.title | markdownify}}</h3>
        {% else %}
        <h4 class="mb-3 text-dark font-weight-bold">Showing posts from <mark>{{document.title | markdownify}}</mark></h4>
        {% endif %}
        {% else %}
        <h3 class="mb-3 text-dark font-weight-bold">{{document.title | markdownify}}</h3>
        {% endif %}
      </div>
    </div>
  </div>
</section>
