<div class="header-height-fix"></div>
<header class="header-nav">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-light p-0">
          <a class="navbar-brand font-weight-bold mr-0" href="{{site.BaseURL}}">
            {% if site.params.logo %}
            <img
              loading="lazy"
              src="{{site.params.logo | abs_url}}"
              alt="{{site.title}}"
              height="{{site.params.logo_height}}"
            />
            {% else %} {{site.title}} {% endif %}
          </a>

          {% if site.params.search %}
          <button
            class="search-toggle d-inline-block d-lg-none ml-auto mr-3"
            data-toggle="search"
            aria-label="Search Toggle"
          >
            <i data-eva="search-outline"></i>
          </button>
          {% endif %}

          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navHeader"
            aria-controls="navHeader"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i data-eva="menu-outline"></i>
            <i class="d-none" data-eva="close-outline"></i>
          </button>

          <div class="collapse navbar-collapse" id="navHeader">
            <ul
              class="navbar-nav {% if site.params.search %}mx-auto{% else %}ml-auto{% endif %}"
            >
              {% for item in site.menus.main %}
              {% assign active = page.path == item.url %}
              {% assign active = active or item.name == page.title %}

              {% if item.has_children %}
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle d-inline-block {% if active %}active{% endif %}"
                  href="#"
                  role="button"
                  data-toggle="dropdown"
                  aria-expanded="false"
                  >{{ item.name}}</a
                >
                <ul class="dropdown-menu">
                  {%- for child in  item.children %}
                  <li>
                    <a
                      class="dropdown-item {% if active %}active{% endif %}"
                      href="{{child.url | abs_url}}"
                      >{{child.name}}</a
                    >
                  </li>
                  {%- endfor -%}
                </ul>
              </li>
              {% else %}
              <li class="nav-item {% if active %}active{% endif %}">
                <a class="nav-link" href="{{ item.url | abs_url}}">{{item.name}}</a>
              </li>
              {% endif %}
              
              {% endfor %}
            </ul>

            {% if site.params.search %}
            <div class="navbar-right d-none d-lg-inline-block">
              <ul class="social-links list-unstyled list-inline">
                <li class="list-inline-item ml-4 d-none d-lg-inline-block">
                  <button
                    class="search-toggle"
                    data-toggle="search"
                    aria-label="Search Toggle"
                  >
                    <i data-eva="search-outline"></i>
                  </button>
                </li>
              </ul>
            </div>
            {% endif %}
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>

{% if site.params.search %}
<div class="search-block">
  <div data-toggle="search-close">
    <i data-eva="close-outline" class="text-primary"></i>
  </div>
  <form action="{{ 'search' | rel_url }}">
    <input
      id="search-query"
      name="s"
      type="search"
      placeholder="Type words &amp; hit enter"
      class="text-center"
      aria-label="search-query"
    />
  </form>
</div>
{% endif %}
