<head>
  <meta charset="utf-8" />
  <title>{{ site.title }}</title>

  <meta name="author" content="{{ site.params.author }}" />
  <meta
    name="description"
    content="{{ page.description | default: site.description }}"
  />

  <!-- mobile responsive meta -->
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=5"
  />

  <!-- Favicon -->
  <link
    rel="icon"
    href="{{ site.params.favicon | abs_url }}"
    type="image/x-icon"
  />

  <!-- CSS Plugins -->
  {% render "style.html", site: site %}

  {% if site.google_analytics %}
  <script type=application/javascript>
   var doNotTrack=!1;doNotTrack||(function(a,e,f,g,b,c,d){a.GoogleAnalyticsObject=b,a[b]=a[b]||function(){(a[b].q=a[b].q||[]).push(arguments)},a[b].l=1*new Date,c=e.createElement(f),d=e.getElementsByTagName(f)[0],c.async=1,c.src=g,d.parentNode.insertBefore(c,d)}(window,document,'script','https://www.google-analytics.com/analytics.js','ga'),ga('create','{{ site.google_analytics }}','auto'),ga('send','pageview'))</script>
  {% endif %}

</head>
