<!-- JS Plugins + Main script -->
{% for link in site.params.plugins.js %}
{% if link | match: "^http" %}
<script src="{{ link }}"></script>
{% else %}
<script data-turbolinks-suppress-warning src="{{ link | abs_url }}"></script>
{% endif %} {% endfor %}

<script
  data-turbolinks-suppress-warning
  src="{{ '/js/script.js' | abs_url }}"
></script>

<!-- cookie -->
{% if site.params.cookies.enable %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
<div id="js-cookie-box" class="cookie-box cookie-box-hide">
  This site uses cookies. By continuing to use this website, you agree to their
  use.
  <span id="js-cookie-button" class="btn btn-sm btn-primary rounded ml-2"
    >I Accept</span
  >
</div>
<script>
  (function ($) {
    const cookieBox = document.getElementById('js-cookie-box');
    const cookieButton = document.getElementById('js-cookie-button');
    if (!Cookies.get('cookie-box')) {
      cookieBox.classList.remove('cookie-box-hide');
      cookieButton.onclick = function () {
        Cookies.set('cookie-box', true, {
          expires: {{ site.params.cookies.expire_days }}
        });
        cookieBox.classList.add('cookie-box-hide');
      };
    }
  })(jQuery);
</script>

<!-- cookie style -->
<style>
  .cookie-box {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 9999;
    padding: 1rem 2rem;
    background: #152035;
    transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
    color: #fdfdfd;
  }

  .cookie-box-hide {
    display: none;
  }
</style>
{% endif %}

<!-- DISQUS -->
{% if site.disqus_shortname %}
<script>
  /**
   *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
   *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
  /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
  */
  (function () {
    // DON'T EDIT BELOW THIS LINE
    var d = document,
      s = d.createElement("script");
    s.src = "https://{{site.disqus_shortname}}.disqus.com/embed.js";
    s.setAttribute("data-timestamp", +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript
  >Please enable JavaScript to view the
  <a href="https://disqus.com/?ref_noscript"
    >comments powered by Disqus.</a
  ></noscript
>
{% endif %}
