<div class="sticky-sidebar" style="position: sticky; top: 130px">
  <div class="widget mb-5">
    <h5 class="widget-title font-weight-700 mb-3">Table of Content</h5>
    <div class="widget-body">{{ .TableOfContents }}</div>
  </div>

  {{ if ne (len .Site.Taxonomies.categories) 0 }}
  <div class="widget mb-5">
    <h5 class="widget-title font-weight-700 mb-3">Categories</h5>
    <div class="widget-body">
      <ul class="post-meta-tags list-unstyled">
        {{ range .Site.Taxonomies.categories.Alphabetical }}
        <li>
          <a class="d-flex" href="/categories/{{ .Name | urlize  }}"
            >{{ .Name }}
            <small class="ml-auto">({{.Count}})</small>
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
  {{ end }}

  <div class="widget">
    <h5 class="widget-title font-weight-700 mb-3">Tags</h5>
    <div class="widget-body">
      <ul class="post-meta-tags list-unstyled list-inline">
        {{ range first 10 .Site.Taxonomies.tags.ByCount }}
        <li class="list-inline-item">
          <a href="/tags/{{ .Name | urlize }}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</div>
